<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sict.myproject.anticovid_19">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Adapter.CustomDialogXemNguoithan"></activity>
        <activity android:name=".ui.Thongtincanhan_menu" />
        <activity android:name=".ui.HomeActivity" />
        <activity android:name=".ui.KhaibaoDangky" />
        <activity android:name=".ui.Dangky" />
        <activity android:name=".ui.Dangnhap" />
        <activity android:name=".ui.Nhapsodienthoai" />
        <activity android:name=".Fragment.Frag_Request_khaibaotiepxuc" />
        <activity android:name=".Fragment.Frag_Request_Phananh" />
        <activity android:name=".Fragment.Frag_Healthy_Nguoithan" />
        <activity android:name=".Fragment.Frag_Healthy_Canhan" />
        <activity android:name=".ui.xacnhankhaibao" />
        <activity android:name=".ui.Khaibao" />
        <activity android:name=".Fragment.Frag_Global" />
        <activity android:name=".Fragment.Frag_VietNam" />
        <activity android:name=".ui.MenuActivity" />
        <activity android:name=".ui.RequestActivity" />
        <activity android:name=".ui.HealthyActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>